<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FABRA.COM | On The Way! </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/plugins.css">
  <script src="https://kit.fontawesome.com/bf1ba5d382.js" crossorigin="anonymous"></script>
</head>

<body class="landing">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top bg-white text-nowrap ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/img/fabra-logo.png" class="img-fluid logo"
          style="max-width: 20%;"></a>
      <a class="btn btn-primary  mr-2 font-weight-bold" href="/users/register">Sign Up</a>
      <a class="btn btn-outline-primary  font-weight-bold" href="/users/login">Log In</a>
      <div class="" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">

          </li>
          <li class="nav-item">

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white min-vh-100 d-flex justify-content-center align-items-center">
    <div class="bg-overlay"></div>
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Anything you want.<br> We'll deliver it.</h1>
        <a href="#services" class="btn btn-primary btn-xl  mt-5">Learn More</a>
      </div>
    </div>
  </header>

  <section id="services" class="mt-5">
    <div>
      <div class="container-fluid pt-5">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/assets/img/homeshopper.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Shop from anywhere</h2>
              <p class="display-5 lead">Sign up to buy anything you want on <span class="text-red">FABRA.COM</span> and
                we will have it delivered to you
                wherever you are.</p>
              <a href="/signup" class="btn btn-primary btn-xl  mt-5">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container-fluid bg-pink">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/assets/img/business-woman.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Grow your business</h2>
              <p class="display-5 lead">Reach more and more people when selling your products and services on <span
                  class="text-red">FABRA.COM</span>.</p>
              <a href="#services" class="btn btn-primary btn-xl  mt-5">Sign Up Your Shop</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/assets/img/deliveryman.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Earn some money</h2>
              <p class="display-5 lead">Become a <span class="text-red">FABRA.COM</span> delivery guy and earn some BIG
                CASH on the side.</p>
              <a href="#services" class="btn btn-primary btn-xl  mt-5">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Company Details -->
  <section class="mt-5 text-center bg-pink highpadding">
    <div class="container">
      <div class="row">
        <!-- Location-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">Greater Accra, Ghana<br>Legon, N0 001</p>
        </div>
        <!-- Social Icons-->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Follow FABRA.COM</h4>
          <a class="btn btn-outline-primary btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
          <a class="btn btn-outline-primary btn-social mx-1" href="#"> <i class="fab fa-fw fa-twitter"></i> </a>
          <a class="btn btn-outline-primary btn-social mx-1" href="#"><i class="fab fa-fw fa-instagram"></i></a>
        </div>
        <!-- About Text-->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About FABRA.COM</h4>
          <p class="lead mb-0">FABRA.COM is a delivery company all about providing Ghanaians with the best delivery
            service out there.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="highpadding px-4">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 footer-copyright text-nowrap">
            <img class="logo-footer img-fluid mb-2" src="/assets/img/logo.png" alt="logo-footer"
              data-at2x="assets/img/logo.png">
            <p> <i class="fas fa-copyright    "></i> Copyright <span
                class="font-weight-bold text-uppercase">FABRA.COM</span><br> All rights reserved </p>
          </div>
          <div class="col-md-3 pl-5 footer-nav  text-nowrap">
            <h3 class="font-weight-bold">Links</h3>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="#">Terms &amp; Condition</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3 text-nowrap">
            <h3 class="font-weight-bold">Work With Us</h3>
            <ul class="list-unstyled">
              <li><a href="#">Become a delivery guy</a></li>
              <li><a href="#">Become a business partner</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-social text-nowrap">
            <div class="row d-flex flex-column">
              <h3>Follow us</h3>
              <p>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->


</body>

<!-- Javascript -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/assets/js/scripts.js"></script>

<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/active.js"></script>



</html>