<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FABRA.COM | Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link
      rel="stylesheet"
      href="/fonts/material-design-iconic-font/css/material-design-iconic-font.css"
    />

    <!-- STYLE CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/signup-page-css.css" />
	<link rel="stylesheet" href="/main/index.css" /> 
  </head>

  <body>
    <form action="/" method="POST">
		<input type="text" name="firstname" />
		<input type="password" name="password" />
		<input type="text" name="housenumber" />
		<button type="submit" > GO </button>
	</form>

    <!-- BOOTSTRAP JQUERY -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- JQUERY STEP -->
    <script src="/assets/js/jquery.steps.js"></script>
    <script src="/assets/js/login.js"></script>
  </body>
</html>
